# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Bitcoin Client
Exec=electrum %u
GenericName=Electrum
Icon=/usr/share/app-install/icons/electrum.png
Name=Electrum Bitcoin Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoin;

Name[de_DE]=electrum-wlc.desktop
